<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if content_for?(:title) %>
  	  <%= yield(:title) %>
  	<% else %>
  	  <%= "Ticketee" %>
  	<% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <style type="text/css">
    <% for state in @states %>
      .state_<%= state.name.parameterize %> {
        color: <%= state.color %>;
        background: <%= state.background %>;
      }
    <% end %>
  </style>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "Ticketee", root_path %></h1>

<% if user_signed_in? %>
  Signed in as <%= current_user %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
  <br>
  Or user <%= link_to image_tag("icons/twitter_32.png"), user_omniauth_authorize_path(:twitter), id: "sign_in_with_twitter" %>
<% end %>

<%= admins_only do %>
  <%= link_to "Admin", admin_root_path %>
<% end %>

<% flash.each do |key, value| %>
  <div class="flash" id="<%= key %>">
  	<%= value %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
